<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985675333114-9kcub9qttqtsb70p3nm59f3e4ihau0o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985675333114-9kcub9qttqtsb70p3nm59f3e4ihau0o2</string>
	<key>API_KEY</key>
	<string>AIzaSyACUBeAXTSE4bU1xeiv4mr5ZgweQTHE6p8</string>
	<key>GCM_SENDER_ID</key>
	<string>985675333114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jh.firebase-tutorial-ios</string>
	<key>PROJECT_ID</key>
	<string>analytics-1b0be</string>
	<key>STORAGE_BUCKET</key>
	<string>analytics-1b0be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985675333114:ios:5201a9d5a154584f053843</string>
</dict>
</plist>